/* This is the section to edit the background of the document, 
as it applies to the entire body */

/* Make sure to ask what the fonts are supposed to be
in each section, if they are supposed to be that specific */


body	{
	background-color: #777;
}

/* This is the section for the header of the webpage, which is 
the very top part. */

header	{
	font-family: Helvetica;
	background-color: #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	margin: 10px auto;
	text-align: center;
	width: 960px;
	color: #777;
}

/* This is the section for the navigation menu, including the 
links to take you off the page. */

nav	{
	background-color: #ebebeb;
	font-family: Helvetica;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px auto;
	width: 960px;
	text-align: center;
	color: #777;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
	overflow: auto;

}
/* this is the section to the section area, including other divs. 
Not sure how that is going to work yet, will change comment. */
 
 section 	{
 	background-color: #ebebeb;
 	font-family: Helvetica;
	width: 495px;
	float: left;
	margin: 0 auto;
	text-align: center;
	color: #777;
}

 article {
 	background-color: #777;
 	margin: 10px auto;
 	width: 90%;
 	color: white;
 	padding-bottom: 10px;
 	padding-top: 3px;
 }

 .headers {
 	background-color: #ebebeb;
 	width: 90%;
 	margin: 0 auto;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	color: #777;
 }

 .paragraph {
 	background-color: #ebebeb;
 	width: 90%;
 	margin: 0 auto;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	margin-top: 3px;
 	color: #777;
 }

 /* This is teh section for the Aside area, which will float
 to the right of the .section, I assume. */

 aside	{
 	background-color: #ebebeb;
 	font-family: Helvetica;
 	width: 460px;
 	float: right;
 	text-align: center;
 	margin:  0 auto;
 	color: #777;
 	height: 258.44px;
 	display: inline-block;
 }	

 /* This is the area for the footer section. Will clear the other 
 elements, I assume. */

 footer	{
 	background-color: #ebebeb;
 	font-family: Helvetica;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	margin: 0px auto;
 	width: 960px;
 	clear: both;
 	text-align: center;
 	color: #777;
 	margin-top: 10px;


 }

